{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edupo | CRM Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/static/assets/images/favicon.ico' %}"/>
    <!-- Library / Plugin Css Build -->
    <link rel="stylesheet" href="{% static 'assets/css/core/libs.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/datum.mine209.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'assets/css/custom.mine209.css' %}">
    <!-- Customizer Css -->
    <link rel="stylesheet" href="{% static 'assets/css/customizer.mine209.css' %}">
    <!-- font-awesome css -->
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/all.mine209.css' %}"/>

    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&amp;display=swap"
            rel="stylesheet">
</head>
<body class="  ">
<style>
    label {
        margin-bottom: 5px;
        margin-top: 5px !important;
    }

    .form-control {
        max-width: 85% !important;
        margin-left: 3%;
    }
</style>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center" style="background: url('/static/assets/images/index.html') no-repeat scroll 50%;">
    </div>
</div>
<!-- loader END -->

<div class="wrapper">
    <section class="login-content">
        <div class="container h-100">
            <div class="row align-items-center justify-content-center h-100">
                <div class="col-md-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <a href="{% url 'crm:crm-dashboard' %}" class="auth-logo">
                                <img src="/static/assets/images/logo.png" class="img-fluid rounded-normal" alt="logo">
                            </a>
                            <h2 class="mb-2 text-center">Sign Up</h2>
                            <p class="text-center">To Keep connected with us please login with your personal info.</p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    {{ form }}
                                    {{ co_form }}

                                    <div class="col-lg-6">

                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <span>Create an Account <a href="#"
                                                               class="text-primary ">Sign Up</a></span>
                                    <button type="submit" class="btn btn-primary" class="text-primary mt-md-0 mt-3">Sign
                                        Up
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Library Bundle Script -->
<script src="{% static 'assets/js/core/libs.min.js' %}"></script>
<script src="{% static 'assets/js/core/external.min.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/customizer.js' %}"></script>

<script src="{% static 'assets/js/sidebar.js' %}"></script>

<!-- Flextree Javascript-->
<script src="{% static 'assets/js/flex-tree.min.js' %}"></script>
<script src="{% static 'assets/js/tree.js' %}"></script>

<!-- Table Treeview JavaScript -->
<script src="{% static 'assets/js/table-treeview.js' %}"></script>

<!-- SweetAlert JavaScript -->
<script src="{% static 'assets/js/sweetalert.js' %}"></script>

<!-- Vectoe Map JavaScript -->
<script src="{% static 'assets/js/vector-map-custom.js' %}"></script>

<!-- Chart Custom JavaScript -->
<script src="{% static 'assets/js/chart-custom.js' %}"></script>
<script src="{% static 'assets/js/charts/01.js' %}"></script>

<!-- slider JavaScript -->
<script src="{% static 'assets/js/slider.js' %}"></script>

<!-- Emoji picker -->
<script src="{% static 'assets/vendor/emoji-picker-element/index.js' %}" type="module"></script>


<!-- app JavaScript -->
<script src="{% static 'assets/js/app.js' %}"></script>

</body>

</html>