{% extends 'base/base.html' %}
{% load static i18n %}

{% block body %}

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between border-bottom-0">
                            <div class="header-title">
                                <h4 class="card-title">Tasks</h4>
                            </div>
                            <div class="header-action">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-primary active" data-toggle-extra="tab"
                                            data-target-extra="#board-content">Board
                                    </button>
                                    <button type="button" class="btn btn-outline-primary" data-toggle-extra="tab"
                                            data-target-extra="#list-content">List
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    {% include 'crm/task/include/task-cards.html' %}
                    {% include 'crm/task/include/task-list.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}