{% extends 'base/base.html' %}
{% load static i18n %}
{% block body %}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-1">
                <!-- Breadcrumb -->
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'crm:customers' %}">Customers</a></li>
                        <li class="breadcrumb-item active">Add New Customer</li>
                    </ol>
                </nav>
            </div>

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="row">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="col-md-6 mb-3">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger">{{ field.errors }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex justify-content-end mt-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- JQuery & Script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_course_or_trainings').change(function () {
            var courseId = $(this).val();
            if (courseId) {
                $.ajax({
                    url: "{% url 'crm:get_course_price' %}",
                    data: {
                        'course_id': courseId
                    },
                    success: function (data) {
                        if (data.price !== null) {
                            $('#id_price').val(data.price);
                        }
                    }
                });
            } else {
                $('#id_price').val('');
            }
        });
    });
</script>

{% endblock %}
